.card {
	background-color: var(--color-white);
	color: var(--color-blue);
	display: block;
	clip-path: polygon(1% 0, 100% 6%, 100% 94%, 0 100%);
	padding: 70px 40px;
    text-align: left;

	@media (max-width: 991px) {
		margin-bottom: 50px;
	}

    &__link {
        text-decoration: none;
    }

    &__img {
        color: var(--color-yellow);
        font-size: 60px;
    }

    &__title {
        font-size: 24px;
        font-weight: 400;
    }

    &__subtitle {
        font-size: 36px;
        font-weight: 600;
    }

    &__cta {
        color: var(--color-green);
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 1em;
    }

    &__cta-icon {
        border: 2px solid  var(--color-green);
        display: inline-block;
        margin-left: 5px;
        padding: 1px 7px;
        border-radius: 5px;
    }
}
