*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
	font-family: var(--font-family);
}

a {
	color: unset;
	text-decoration: none;

	&:hover {
		color: unset;
	}
}

section {
	padding-top: 75px;
    padding-bottom: 75px;
}

img {
	max-width: 100%;
}

.underline {
	background-image: url('./images/underline_yellow.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center 90%;

	&--green {
		background-image: url('./images/underline_green.png');
	}
}
