.footer {
	background-color: var(--color-blue);
	color: var(--color-white);
	padding-top: 75px;
	padding-bottom: 75px;
	// clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);

	&__col {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		@media (min-width: 992px) {
			align-items: flex-start;
		}
	}

	&__item-container {
		margin-top: 1em;
		margin-bottom: 2em;
	}

	&__item {
		display: block;
		color: var(--color-white);
		text-decoration: none;
		font-size: 18px;

		&--title {
			color: var(--color-green);
		}

		&--link {
			&:hover {
				color: unset;
				opacity: 0.6;
			}
		}
	}

    &__group {
        @media (max-width: 991px) {
			margin-top: 2em;
            display: flex;
            flex-direction: column;
            align-items: center;
		}
    }

    &__icon {
        height: 40px;
        margin-right: 1em;
    }
    &__icon-container {
        margin-bottom: 2em;
    }

    &__txt {
        font-size: 16px;
    }

    &__signup {
        color: var(--color-green);
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 1em;
    }

    &__signup-icon {
        border: 2px solid  var(--color-green);
        display: inline-block;
        margin-left: 5px;
        padding: 1px 7px;
        border-radius: 5px;
    }
}
