.awesome {
    background-color: var(--color-blue);
    color: var(--color-white);
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
    padding-top: 125px;
    padding-bottom: 125px;
    margin-bottom: -50px;

    &__col {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        &:first-of-type {
            @media (min-width: 992px) {
            padding-left: 150px;
            padding-right: 150px;
            }
        }
    }

    &__box {
        margin-bottom: 75px;
    }

    &__txt {
        font-size: 24px;

        @media (min-width: 992px) {
            font-size: 34px;
        }
    }

    &__title {
        font-size: 54px;
        font-weight: 600;
        margin-bottom: 1em;

        @media (min-width: 992px) {
            font-size: 74px;
        }
    }
}